<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500762124002-d3lrbkiec1kvgpgu6gor7jdvj74qv0v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500762124002-d3lrbkiec1kvgpgu6gor7jdvj74qv0v3</string>
	<key>API_KEY</key>
	<string>AIzaSyCSFtI17TznFMGvpzHeJAiT3kZO1JpLHUk</string>
	<key>GCM_SENDER_ID</key>
	<string>500762124002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ranking</string>
	<key>PROJECT_ID</key>
	<string>service-ccb5b</string>
	<key>STORAGE_BUCKET</key>
	<string>service-ccb5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500762124002:ios:cd67aeb0306c7a803688bb</string>
</dict>
</plist>